*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    gap: 20px;
}

.company_details{
    color:#5f6eb8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#Name p{
    color: #5d5b5b;
}

#heading h2{
    font-size: 25px;
    color: #5f6eb8;
}

#heading p{
    font-size: 11px;
}

#symbol img{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 150px;
    height: auto;
}

.id{
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.id h1{
    padding: 35px 0 0 20px;
    font-size: 40px;
    font-weight: bold;
    color: #5f6eb8;
    border-bottom: 1px solid #5f6eb8;
}

.id h2{
    padding: 35px 0 0 20px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #5f6eb8;
}

.id hr{
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 1px;
    border-bottom: 2px solid #5f6eb8;
}

.Main-Body{
    font-size: 22px;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 0px;
}

#name{
    
    margin-bottom: 60px;
}

p b{
    color: black;
}

#paragraph-1{
    font-size: 20px;
    margin-bottom: 80px;
    color: #5d5b5b;
}

#paragraph-2{
    font-size: 20px;
    margin-bottom: 50px;
    color: #5d5b5b;
}

#paragraph-3{
    font-size: 20px;
    margin-bottom: 30px;
    color: #5d5b5b;
}

.msme-stamp{
    width: 100%;
    float: left;
    gap: 20px;
    margin-bottom: 100px;
}

.msme-stamp .left{
    width: 50%;
    position: absolute;
    left: 50px;
}

.mese-stamp .right{
    width: 50%;
}

.msme-stamp img{
    height: auto;
    width: 150px;
}

.msme-stamp h3{
    font-size: 24px;
    color: #5f6eb8;
}

.msme-stamp .right img{
    position: absolute;
    right: 30px;
}

footer{
    color: #5f6eb8;
    font-size: 17px;
    text-align: center;
}

/* change of view while opening through phone */

@media (max-width: 991.5px){
    #heading h2{
        font-size: 20px;
    }

    #heading p{
        font-size: 8px;
    }

    #symbol img{
        width: 130px;
    }

    .id h1{
        font-size: 30px;
    }

    .id h2{
        font-size: 20px;
    }

    .Main-body{
        margin-top: 70px;
        font-size: 18px;
    }

    #name{
        margin-bottom: 40px;
    }

    #paragraph-1{
        margin-bottom: 60px;
    }

    #paragraph-2{
        margin-bottom: 30px;
    }

    #paragraph-3{
        margin-bottom: 10px;
    }

    .msme-stamp img{
        width: 120px;
    }

    .msme-stamp h3{
        font-size: 18px;
    }

    .msme-stamp{
        margin-bottom: 80px;
    }

    footer{
        margin-bottom: 80px;
    }

    img{
        width: 50%;
    }
}